In [1]:
names = ["bilal","Amir","Hamza","waqas"]
names

['bilal', 'Amir', 'Hamza', 'waqas']

In [2]:
type(names)

list

In [3]:
print(type(names))

<class 'list'>

In [4]:
marks = [92,95,98,50,40,60]




    0      1       2      3             399
["bilal","Amir","Hamza","waqas"......."Ali"]

In [6]:
names[0]

'bilal'

In [9]:
names[3]

'waqas'

In [6]:
names[0:2]

NameError: name 'names' is not defined

In [2]:
marks[0]

NameError: name 'marks' is not defined

In [13]:
message = names[0] + " scored " + str(marks[0]) + " marks"
message

'bilal scored 92 marks'

In [14]:
marks

[92, 95, 98, 50, 40, 60]

In [15]:
names

['bilal', 'Amir', 'Hamza', 'waqas']

In [16]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
employee1_name = "waqas"
employee1_age =  27
employee1_gender = "Male"

list is hetrogeneuos and list is ordered

In [1]:
employee_1 = ["waqas",27,"Male"]
type(employee_1)

list

In [2]:
employee_ = ["Faizan",22,"Male"] # [] is also a list and is empty

In [4]:
employee_2 = []
type(employee_2)

list

In [5]:
employee_2.append("Faizan")
employee_2.append(27)
employee_2.append("Male")

In [6]:
employee_2

['Faizan', 27, 'Male']

In [7]:
employee_1.append(350000)
employee_2.append(300000)

In [8]:
employee_2[0]

'Faizan'

In [9]:
employee_1[3]

350000

#list has twom types of indexing 
1. positive indexing ,it starts from 0 frponm left to right 
2. nbegtive indexing  , it starts from -1 from right yo left

In [10]:
employee_1[-4]

'waqas'

# slicing

In [13]:
employee_1[1:4]

[27, 'Male', 350000]

In [18]:
employee_1[-3:]

[27, 'Male', 350000]

In [19]:
employee_1[:]

['waqas', 27, 'Male', 350000]

In [20]:
employee_1[:-1]

['waqas', 27, 'Male']

In [21]:
employee_2

['Faizan', 27, 'Male', 300000]

In [22]:
employee_2.insert(1,"AI Eng")

In [23]:
employee_2

['Faizan', 'AI Eng', 27, 'Male', 300000]

In [25]:
employee_2[0] = "FAizan Amin"

In [27]:
employee_2

['FAizan Amin', 'AI Eng', 27, 'Male', 300000]

In [28]:
del employee_2[-2]

In [29]:
employee_2

['FAizan Amin', 'AI Eng', 27, 300000]

In [30]:
employee_2.remove("AI Eng")

In [31]:
employee_2

['FAizan Amin', 27, 300000]

In [33]:
employee_1

['waqas', 27, 'Male', 350000]

In [35]:
employee_1.index("Male")

2

In [36]:
employee_1.pop(-1)

350000

In [38]:
employee_1.pop()

'Male'

In [39]:
employee_1

['waqas', 27]

In [40]:
employee_1 = ["waqas",27,"Male",350000]
employee_2 = ["Faizan",22,"Male",300000]

In [42]:
employees = [employee_1,employee_2,["Khurram",25, "Male",320000],["Saad",23,"Male",310000]]

In [43]:
len(employees)

4

In [44]:
total_salary = employees[0][-1] + employees[1][-1] + employees[2][-1] + employees[3][-1]

In [45]:
total_salary

1280000

# for loops

In [10]:
tot_salary =0 

for item in employees :
    
   tot_salary = total_salary+item[-1]

NameError: name 'employees' is not defined

In [49]:
salary = []
for i in employees:
    salary.append(i[-1])

In [50]:
salary

[350000, 300000, 320000, 310000]

In [16]:
employee_1 = ["waqas",27,"Male",350000]
employee_2 = ["Faizan",22,"Male",300000]

In [17]:
employees = [employee_1,employee_2,["Khurram",25, "Male",320000],["Saad",23,"Male",310000]]

In [22]:
  salary_with_name = [] 
    for i in employee:
 salary_with_name.append(i[0],(i[-1]))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

# conditional statements

# comparison operator
* == equuality /rquals to
* != not equals to
* >  greater then 
* < less then 
* >=  greater then and equal to
* <= less then and equal to

In [55]:
employees

[['waqas', 27, 'Male', 350000],
 ['Faizan', 22, 'Male', 300000],
 ['Khurram', 25, 'Male', 320000],
 ['Saad', 23, 'Male', 310000]]

In [63]:
salary_gr_250k = 0 
for i in employees:
    salary = i[-1]
    if salary >= 250000:
    salary_gr_250k+= salary

IndentationError: expected an indented block (<ipython-input-63-da32a70fa179>, line 5)

In [57]:
2==3

False

In [58]:
2==2

True

In [59]:
a = 2==3
type(a)

bool

In [60]:
b = "true"
type(b)

str

In [70]:
username = "Waqas"
passsword = "123"
if username =="Waqas":
    if password == "123":
        print("login successfull"
        else: 
            
            print("wrong password")
        else:
        print("invalid username")

SyntaxError: invalid syntax (<ipython-input-70-6517a3f2bb98>, line 7)

In [1]:
if username.lower()== "waqas":
    print("correct username")

NameError: name 'username' is not defined

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

02/02/2020

In [4]:
mylist=[1,2,4,5]

# Tuples

In [6]:
mylist[0]

1

In [7]:
studentdata = ("Ali",35,98.5)

In [8]:
studentdata.inser(1)

AttributeError: 'tuple' object has no attribute 'inser'

In [9]:
age = input()

78

In [10]:
age

'78'

In [11]:
age = input("enter your age")

enter your age15

In [12]:
type(age)

str

In [13]:
studentform = []